h1 {text-align: center;
border-color: rgb(0, 0, 0);
border-style: none;
border-width: px;
background-color: rgb(106, 253, 1);
}
 
h2 {text-align: center;
border-color: blanchedalmond;
border-style: initial;
border-width: px;
background-color: cornflowerblue;
}

h3 {text-align: center;
border-color: rgb(230, 134, 134);
border-style: none;
border-width: px;
background-color: darksalmon;
}

h4 {text-align: center;
border-color: indigo;
border-style: none;
border-width: px;
background-color: mediumslateblue;
}